* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: 0;
}
body{
    background-image: url(../img/padded/padded.png); /*from www.subtlepatterns.com*/
    font-family: 'Lato', sans-serif;
    color: white;
    height: 100vh;
}
h1{
    font-size: 7vw;
    line-height: 120%;
}
.header{
    text-align: center;
    background-image: linear-gradient(to bottom, #363131a6 , #292525);
    border-radius: 7px;
    margin-top: 1vw;
    transform: scale(1.05);
}
.main{
    background-image: linear-gradient(to bottom, #363131a6 , #292525);
    display: flex;
    align-items: center;
    font-size: 3.5vw;
    justify-content: space-between;
    padding: 1%;
    padding-right: 2%;
    border-radius: 5px;
    margin-top: 1vw;
}
input{
    border-radius: 3px;
    background-color: #1f1c1c;
    border: none;
    color: white;
    width: 90%;
    font-size: 3vw;
    margin: 0;
    padding: 0;
}
#task{
    width: 55%;
    font-size: 4vw;
}
.board{
    transform: scale(1.05);
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #998d8d79;
    border-radius: 10px;
    overflow: scroll;
    height: 60vh;
}
.board>ul{
    list-style: none;
}
.board>ul>li{
    font-size: 3vw;
}
.taskItem{
    background-image: linear-gradient(to bottom, #363131a6 , #292525);
    padding: 1% 2%;
    border-radius: 5px;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actionArea{
    width: 35%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.inputArea{
    width: 65%;
    word-wrap: break-word;
    display: inline-flex;
    align-items: center;
}
.plus{
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    background-image: url(../img/plus.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.trash{
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    background-image: url(../img/trash.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.tic{
    height: 5vw;
    width: 5vw;
    background-color: #343838;
    border: 3px solid #585757;
    border-radius: 20%;
    cursor: pointer;
}
.ticActive {
    background-image: url(../img/tic.png);
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
}
.pen {
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    background-image: url(../img/crayon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.save{
    width: 5vw;
    height: 5vw;
    background-image: url(../img/disk.png);
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.arr{
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.subBoard{
    background-color:#292525;
    width: 60%;
    margin-left: 3%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 1%;
}
.hide {
    display: none;
}
.subBoard>ol{
    list-style-type: none;
}

.box{
    display: flex;
    justify-content: space-around;
}
.rotor {
    transform: rotate(180deg);
}
.inputSubList{
    width: 85%;
    margin-top: 1%;
}
.subTaskItem{
    display: inline-flex;
    width: 100%;
    align-items: center;
}
.subInputArea{
    width: 75%;
    word-wrap: break-word;
}
.subActionArea{
    width: 25%;
    display: inline-flex;
    justify-content: space-between;
    transform: scale(0.7);
    align-items: center;
}
.bottomBar{
    background-image: linear-gradient(to bottom, #363131a6 , #292525);
    border-radius: 7px;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}
@media (min-width: 576px) { 
    h1 {font-size: 5vw;}
    .main {font-size: 2.7vw;}
    input {font-size: 2vw;}
    .board>ul>li {font-size: 2vw;}
    .trash, .tic, .pen, .save, .plus, .arr{width: 4.5vw;height: 4.5vw;}
    #task{font-size: 3vw}
 }
@media (min-width: 768px) { 
    h1 {font-size: 4.5vw;}
    .main {font-size: 2.3vw;}
    .trash, .tic, .pen, .save, .plus, .arr{width: 4vw;height: 4vw;}
 }
@media (min-width: 992px) { 
    .trash, .tic, .pen, .save, .plus, .arr{width: 3.5vw;height: 3.5vw;}
    input {font-size: 1.6vw;}
    .board>ul>li {font-size: 1.6vw;}
    #task{font-size: 2.5vw}
 }